#
# Config file for Mock Signing Certificate Package
#
#   Copyright (2020) Secoh
#   Licensed under the Apache License, Version 2.0
#   http://www.apache.org/licenses/LICENSE-2.0
#   Distributed on an "as-is" basis, without warranties or
#   conditions of any kind.
#
Cert-Name: SK.root
Cert-File-Name: sk_root
Valid-Years: 50
Key-Password: sk.root
Extra-Subject-Symbols: CN=Secoh,E=work@secoh.net,O=Custom USB to Serial adapters,S=RainCloud
Friendly-Name: Secoh Signature
#
Sign-Tools-Path: C:\Program Files (x86)\Windows Kits\10\bin\10.0.18362.0\x86
Infverif-Path: C:\Program Files (x86)\Windows Kits\10\Tools\x86
ISO-Tools-Path: C:\Program Files (x86)\WinCDEmu
#
ISO-Volume: Rain USB-Serial
ISO-Publisher: Secoh
ISO-Application: Atmel USB Microcontroller I/O
#
Inf-Name: sample_driver.inf
Inf-Company: RainCloud
Inf-Version: 0.0.0.1
VID: F055
Device-Name-1: Sample Serial
PID-1: 0101
Device-Name-2: Another Device
PID-2: 4321
Device-Name-3: Number Three Converter
PID-3: BEAD
